<p>
<b>商品名:<%= @item.name %></b>
</p>
<p>
<b>商品詳細:<%= @item.description %></b>
</p>
<p>
<b>price:<%= @item.price %></b>
</p>
<p>
<b>seller:<%= @item.seller %></b>
</p>
<p>
<b>email:<%= @item.email %></b>
</p>
<p>
<%= image_tag @item.image_url %>
</p>